@using Umwelt_liteV.Data.Models.ViewModels
@model CreateCategoryVm

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminPages/CreateCategory.css">
    <title>Create|Category</title>
</head>
<body>
    <div class="header-div">
        <div class="h-left">
            <p class="title">Umwelt-Admin</p>
        </div>
        <div class="h-right">
            <p class="username">Mehrshad</p>
        </div>
    </div>

    <div class="main-div">
        <div class="div-form">
            <form class="category-form-div" method="post">
                <div class="title-div">
                    <input asp-for="Title" class="title" type="text" placeholder="Title...">
                </div>
                <div class="submit-div">
                    <button type="submit" class="submit-btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>