
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AdminPages/AdminMain.css">
    <link href="~/js/sweettoast/swal.css" rel="stylesheet" />
    <title>Admin-Main</title>
</head>
<body>

    <div class="header-div">
        <div class="h-left">
            <p class="title">Umwelt-Admin</p>
        </div>
        <div class="h-right">
            <p class="username">Mehrshad</p>
        </div>
    </div>


    <div class="main-div">
        <div class="buttons">
            <form  class="form-main-page" method="post">
                <button type="submit" class="main-web-page">Main Page</button>
            </form>
            <form asp-area="Admin" asp-controller="Admin" asp-action="CreateArticle" class="form-main-page" method="get">
                <button type="submit" class="create-article">Create Article</button>
            </form>
            <form class="form-main-page" method="post">
                <button type="submit" class="manage-articles">Manage Articles</button>
            </form>
            <form class="form-main-page" method="post">
                <button type="submit" class="manfe-admins">Magnage Admin</button>
            </form>
            <form asp-area="Admin" asp-controller="Admin" asp-action="CreateCategory" class="form-main-page" method="get">
                <button type="submit" class="manfe-admins">Create Category</button>
            </form>
            <form class="form-main-page" method="post">
                <button type="submit" class="manfe-admins">Manage Category</button>
            </form>
        </div>
    </div>



    <!-- Sweet Alert Section -->
    <div>
        <input type="hidden" id="message1" value="@TempData["success"]" />
        <input type="hidden" id="message2" value="@TempData["error"]" />
        <input type="hidden" id="message3" value="@TempData["warning"]" />
        <input type="hidden" id="message4" value="@TempData["info"]" />
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <partial name="_SideMessage" />

</body>
</html>